<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot App</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <img th:class="logo" src="/logo.jpg" alt="Logo image">
    </header>
    <section>
        <h2>Spring Boot Project</h2>
        <a href="youtube.com" target="_blank">More Details</a>
        <img th:class="cover" src="/cover.jpg" alt="Cover">
    </section>
    <footer>
        <p th:class="copyright">Copyright by Mouad louhibi</p>
    </footer>
</body>
</html>